<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div class="main_block">
        <div class="add_data">
            <form action="add_data/" method="post">
                {% csrf_token %}
                <h3>Добавить курс</h3>
                <input type="text" name="currency" placeholder="Евро">
                <input type="text" name="course" placeholder="86.3">
                <input type="submit" value="добавить">
            </form>
        </div>
        <div class="search_data">
            <form action="search_data/" method="post">
                {% csrf_token %}
                <h3>Поиск Курса</h3>
                <select name="currency">
                    {% for i in DB %}
                        <option>{{i}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="time" placeholder="13:45">
                <input type="submit" value="поиск" class="search">
            </form>
        </div>
        <div class="button_link">
            <button><a href="converterTo/">Конвертировать в валюту</a></button>
        </div>
    </div>
</body>
</html>



